<?php


$bot = new MelanoBot('irc.example.org',6667,'ExampleBot',null,
                        array('#example','#channel'),
                        array("OtherBot")); // nicks blacklisted here will be completely ignored
 

$owners = array( 'BotOwnerNick' => 'BotOwnerNick.users.quakenet.org' );
$whitelist = array ( 'Admin1Nick'=>null, 
                     'Admin2Nick'=>'example.com' );

// nicks blacklisted here can generate internal changes but will be filtered
$soft_blacklist = array("AnnoyingUser");


$fake_answers = array(

    'Signs point to yes',
    'Yes',
    'Without a doubt',
    'As I see it, yes',
    'It is decidedly so',
    'Of course',
    'Most likely',
    'Sure!',
    
    'Maybe',
    
    'Concentrate and ask again',
    'Better not tell you now',
    'Cannot predict now',
    'Ask again later',
    "I don't know",
    
    'Maybe not',
    
    'My reply is no',
    'My sources say no',
    'Very doubtful',
    "Don't count on it", 
    "I don't think so",
    "Nope",
    "No way!",
    "No",
    
);

function extra_commands($cmd,$bot)
{    
    if ( substr(trim($cmd->raw),-1) == '?' )
    {
        global $fake_answers;
        $bot->say($cmd->channel, $fake_answers[rand(0,count($fake_answers)-1)]);
        return true;
    }
    
    return false;
}

function extra_raw_commands($cmd,$bot)
{
    if ( strpos($cmd->raw,"www.youtube.com/watch?v=") !== false )
    {
        $bot->say($cmd->channel,"Ha Ha! Nice vid {$cmd->from}!");
        return true;
    }
    return false;
}

function filter($cmd,$bot)
{
    global $soft_blacklist;
    if ( $cmd->chanhax && !check_admin($cmd)  )
    {
        $bot->say($cmd->from,"Sorry ".$cmd->from." but only admins can use this hax" );
        return false;
    }
    else if ( in_array($cmd->from,$soft_blacklist) )
        return false;
    return true;
}
