<?php
require_once("networks.php");

require_once("executors-core.php");
require_once("executors-message.php");
require_once("executors-misc.php");
require_once('executors-webapi.php');
require_once('executor-mediawiki.php');
require_once('executors-webapi.php');

date_default_timezone_set("UTC");

$bot = new MelanoBot('irc.example.org',6667,'ExampleBot',null,
                        array('#example','#channel'),
                        array("OtherBot")); // nicks blacklisted here will be completely ignored


$driver = new BotDriver($bot);

$driver->add_to_list('owner','BotOwnerNick','BotOwnerNick.users.example.com');

$driver->add_to_list('admin','Admin1Nick');
$driver->add_to_list('admin','Admin2Nick','example.com');

$driver->add_to_list('blacklist','AnnoyingUser');

$driver->on_error = function (MelanoBotCommand $cmd, MelanoBot $bot, BotDriver $driver)
{
	$bot->say($cmd->channel,"Shut up ".$cmd->from);
};



$message_queue = new MessageQueue();

$driver->install(array(
// owner commands
	new Executor_Reconnect(),
	new Executor_Server(),
	new Executor_Quit(),
	new Executor_Restart(),
	new Executor_Join(),
	new Executor_Part(),
	new Executor_Nick(),
	new Executor_RawIRC('cmd'),
// admin commands
	new Executor_UserList('admin','admin',array('owner'=>"But % is my daddy!")),
	new Executor_UserList('blacklist','admin',array('owner'=>"But % is my daddy!")),
	new Executor_Action("please","admin"),
	new Executor_Morse(),
// filters
	new Filter_UserList('blacklist'),
	new Filter_ChanHax('chanhax','admin'),
// public commands
	new Executor_Help(),
	new Executor_Echo("say"),
	new Executor_Echo("slap","slaps"),
	/// \note you should set the user agent is using this
	new Executor_Wiki("describe","Wikipedia","http://en.wikipedia.org/w/api.php"),
	new Executor_GoogleImages(),
	new Executor_Youtube(),
	new Executor_ReverseText(),
	new Executor_Dictionary(),
// non-PRIVMSG
	new Executor_RespondKick(),
	new Executor_GreetingSelf("Hello!!!"),
	new Executor_GreetingUsers(array("BotOwnerNick"=>irc_action("welcomes his daddy"))),
// message handling
	new Executor_NotifyMessages($message_queue),
	new Executor_NotifyMessages($message_queue,'JOIN'),
	new Executor_Message($message_queue),
	new Executor_Tell($message_queue),
// Raw
	new Raw_Youtube(),
	new Raw_Echo("Fun!","?!",'admin'),
	new Raw_Question(),
	new Raw_What(), /// KEEP AS LAST
// finalizing commands
	new Post_Restart(),
));

$driver->run();